.idea
max.txt
output.txt
problem.db
*.class
*.recovery
*.status
__pycache__
*.pyc
*.db
*.pdf
*.png
build
artap/lib/*
test_problem_multiobjective.profile
tests/test_problem_multiobjective.timings
enviroment_local.json
/tests/workspace
/artap/tests/workspace/common_data/2018-11-13_17-47-08.439790_DEMO
