max.txt
parameters.txt
output.txt
problem.db
*.class
*.recovery
*.status
*.mph
__pycache__
*.pyc
*.db
*.pdf
*.png
build
.vscode/.ropeproject/
test_problem_multiobjective.profile
tests/test_problem_multiobjective.timings

