wheel
numpy>=1.13.3
scipy>=0.18.1
matplotlib>1.5.1
joblib~=0.17.0
rpyc~=5.0.1
cython
sklearn~=0.0
SALib~=1.4.0.2
appdirs~=1.4.4
nlopt~=2.7.0
scikit-learn~=0.23.2
pyDOE2
numpydoc
six>=1.10
smt~=1.0.0
tinydb
PyQt5~=5.15.4
setuptools~=52.0.0